/** smooth scrolling **/

/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
  }
  
  /* 2. Make nav sticky */
  main > .section-nav {
    position: sticky;
    top: 2rem;
    align-self: start;
  }
  
  /* 3. ScrollSpy active styles (see JS tab for activation) */
  .section-nav .section-nav__item.active > a {
    color: #829188;
    font-weight: 500;
  }
  
  /* Sidebar Navigation */
  .section-nav {
    padding-left: 0;
    border-left: 1px solid #5f4832;
  }
  
  .section-nav .section-nav__link {
    text-decoration: none;
    display: block;
    padding: 0.125rem 0;
    color: #5f4832;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  }
  
  .section-nav .section-nav__link:hover,
  .section-nav .section-nav__link:focus {
    color: #829188;
  }
  
  /** Poor man's reset **/
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    background: #ddd4d1;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  .section-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .section-nav__item {
    margin-left: 1rem;
    font-size: 20px;
  }
  
  /** page layout **/
  main {
    display: grid;
    grid-template-columns: 1fr 10em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
  }
  
  /** enlarge the sections for this demo, so that we have a long scrollable page **/
  section {
    padding-bottom: 20rem;
  }
  
  .section__title {
    color: #5f4832;
  }
  
  .formenu {
      font-size: 1px;
  }
  /** smooth scrolling end **/
  @media screen and (min-width: 1024px) {
    .burger__menu {
      display: none;
    }
  }
  
  @media screen and (max-width: 1024px) {
    :root {
      font-size: 14px;
    }
  
    header {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  
    .header__button {
      z-index: 2;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #829188;
      border: 0;
      cursor: pointer;
      position: fixed;
      top: 23px;
      right: 12px;
      outline: none;
      animation-duration: 300ms;
      animation-timing-function: ease;
    }
  
    .header__button[data-open="true"] {
      background-color: #ddd4d1;
      animation-name: scale;
    }
  
    .header__button[data-open="false"] {
      transition: background-color 250ms linear;
    }
  
    @keyframes scale {
      from {
        transform: scale(0);
      }
  
      to {
        transform: scale(100%);
      }
    }
  
    .header__nav {
      background-color: #829188;
      position: fixed;
      overflow: hidden;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      visibility: hidden;
      clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
    }
  
    .header__nav[data-active="true"] {
      visibility: visible;
    }
  
    .header__menu {
      padding: 0;
      margin: 0;
    }
  
    .header__menu > .header__menu-item {
      font-size: 10vh;
    }
  
    .header__menu > .header__menu-item:not(:last-of-type) {
      margin-bottom: 0.1em;
    }
  
    .header__menu-item a {
      font-weight: bold;
      color: #ddd4d1;
      text-decoration: none;
    }
  
    .header__menu-item a:hover {
      font-style: italic;
    }
  }

  /* contacts start*/

  .square__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDD4D1;
    
}

.square {
    position: relative;
    margin: 0 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #5F4832;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.phone:hover span:nth-child(1) {
    border: none;
    background: #8CA6AF;
}

.instagram:hover span:nth-child(1) {
    border: none;
    background: #D7AB8B;
}

.vk:hover span:nth-child(1) {
    border: none;
    background: #FBF2E1;
}

.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #5F4832;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.phone:hover span:nth-child(2) {
    border: none;
    background: #8CA6AF;
}

.instagram:hover span:nth-child(2) {
    border: none;
    background: #D7AB8B;
}

.vk:hover span:nth-child(2) {
    border: none;
    background: #FBF2E1;
}

.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #5F4832;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.phone:hover span:nth-child(3) {
    border: none;
    background: #8CA6AF;
}

.instagram:hover span:nth-child(3) {
    border: none;
    background: #D7AB8B;
}

.vk:hover span:nth-child(3) {
    border: none;
    background: #FBF2E1;
}

.contacts__content {
    position: relative;
    padding: 40px 60px;
    color: #5F4832;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.contacts__content .contacts__link {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #5F4832;
    padding: 6px 18px;
    text-decoration: none;
    color: #5F4832;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.contacts__content .contacts__link:hover {
    background: #DABC86;
    color: #333;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.contacts__title {
    margin-bottom: 40px;
}
  /* contacts end*/